@import '../../styles/mixins/breakpoint';

.hero {
    position: relative;
    padding-left: calc(50% - 45vw);
    padding-right: calc(50% - 45vw);

    @include breakpoint(750px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 155px;
    }

    &Strapline {
        padding-bottom: 20px;
        max-width: 500px;

        & p {
            font-size: 1.5rem;
            font-weight: 900;

            @include breakpoint(550px) {
                font-size: 2rem;
            }
        }
    }

    &Text {
        padding: 5px 0 5px 20px;
        font-weight: 300 !important;
        font-size: 1rem !important;
        color: #828585;
    }

    &SubText {
        padding: 5px 0 5px 20px;
        font-weight: 300 !important;
        font-size: .85rem !important;
        color: #828585;
    }
}

.image {
    width: 50vw;
    max-width: 400px;

    &Container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
}