.flex {
    &Trio {
        display: flex;
        justify-content: space-evenly;

        &Item {
            margin: 20px;
            max-width: 230px;
        }

        &Title {
            font-size: 1.25rem;
            font-weight: 900;
        }

        &Icon {
            height: 100px;
            width: 100px;
        }
    }
}