@import '../mixins/breakpoint';

.flex {
    @include breakpoint(620px) {
        &Trio {
            display: flex;
            justify-content: space-evenly;
        
            &Item {
                max-width: 230px;
                width: 25%;
            }
        }
    }
    
    &Trio {
        &Item {
            margin: 20px;
        }

        &Title {
            font-size: 1.25rem;
            font-weight: 900;
        }

        &Icon {
            height: 100px;
            width: 100px;
        }
    }
}