.footer {    
    background: #8DB1FB;
    padding: 60px 0;

    &Inner {
        max-width: 1100px;
        margin: 0 auto;
    }

    &Links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &Link {
        color: #2e3333;
        text-decoration: none;
        margin: 0 5px;

        &:hover {
            text-decoration: underline;
        }

        &:nth-child(2) {
            padding: 0 5px;
        }
    }
}