@import 'settings';
@import './mixins/breakpoint';

$color-blue: #8DB1FB;
$color-blue-background: #4F86FA;


.page {
  &Top {
    position: relative;
    background-color: $color-primary;

    &::before {
      content: "";
      width: 100%;
      height: 256px;
      position: absolute;
      right: 0;
      top: -20px;
      background-color: $color-secondary;
      -webkit-transform: skewY(-6deg);
      transform: skewY(-6deg);
      -webkit-transform-origin: left;
      transform-origin: left;
    } 
  }

  &Content {
    max-width: 1100px;
    margin: 0 auto;
  }
}

.questionaire {
  margin: 0 auto;
  padding-top: 25px;
  padding-left: calc(50% - 45vw);
  padding-right: calc(50% - 45vw);
  text-align: center;

  &Heading {
      font-size: 2em;
      margin-bottom: 25px;
  }

  &Flex {
      @include breakpoint(600px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        &Text {
          max-width: 300px;
          margin-bottom: 0;
        }
      }
      
      text-align: center;
      max-width: 800px;
      padding: 0 0 50px 0;
      
      &Text {
        padding-bottom: 10px;
      }


  }
}